canvas.ChemDoodleWebComponent {
    border: 1px solid black;
    
    text-align: center;
    -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
            border-radius: 3px;
    min-height: 40px;
    line-height: 40px;
}