{% extends "base.html" %}
{% block content %}
<div class="about">
<h2>Who is responsible?</h2>
<p><a href="/"><strong>Endocrine Disruptome</strong></a> and <a href="https://github.com/katrakolsek/DoTS"><strong>DoTS</strong></a> are a result of work of <strong>Katra Kolšek</strong> and <strong>Samo Turk</strong>.</p>
<p>This work is supported by <strong><a href="http://www.ffa.uni-lj.si/">Faculty of Pharmacy, University of Ljubljana, Slovenia</a></strong> and <strong><a href="http://www.ki.si/">National Institute of Chemistry, Slovenia</a></strong>.</p>
<p>The server running Endocrine Disruptome is kindly hosted by <strong><a href="http://www.ki.si/en/research-departments/l01-laboratory-for-biocomputing-and-bioinformatics/">Laboratory for Biocomputing and Bioinformatics, National Institute of Chemistry</a></strong>. Special thanks for this goes to <strong>prof. Janez Mavri</strong> and <strong>Deni Bačić</strong>.</p>

<h2>What does it do?</h2>
<p>This is a free and easy to use web service for predicting endocrine disruption potential of molecules. This server performs docking is to 18 integrated, thoroughly validated crystal structures of <a href="/receptors">14 different nuclear receptors</a>.</p>
<p>It uses <a href="http://autodock.scripps.edu/">AutoDock Vina</a>.</p>
<h2>How to use it?</h2>
<p>Click on <a href="/prediction">prediction</a> and either draw a structure or submit SMILES.</p>
<h2>How to interpret the results?</h2>
<p>The 18 structures integrated in Endocrine Disruptome are carefully selected from 103 structures. All structures and protocols are validated. Users are advised to consult the receptors' sub-pages to check the performance of each model.</p>
</div>
{% endblock %}
