{% extends "base.html" %}
{% block content %}
<div class="about">
<h2 class="page-header">About Endocrine Disruptome</h2>
<p><a href="/"><strong>Endocrine Disruptome</strong></a> and <a href="https://github.com/katrakolsek/DoTS"><strong>DoTS</strong></a> are a result of work of <strong><a href="mailto:katra.kolsek@ffa.uni-lj.si">Katra Kolšek</a></strong> and <strong><a href="mailto:turk@bio.mx">Samo Turk</a></strong>.</p>
<p>This work is supported by <strong><a href="http://www.ffa.uni-lj.si/">Faculty of Pharmacy, University of Ljubljana, Slovenia</a></strong> and <strong><a href="http://www.ki.si/">National Institute of Chemistry, Slovenia</a></strong>.</p>
<p>The server running Endocrine Disruptome is kindly hosted by <strong><a href="http://www.ki.si/en/research-departments/l01-laboratory-for-biocomputing-and-bioinformatics/">Laboratory for Biocomputing and Bioinformatics, National Institute of Chemistry</a></strong>. Special thanks for this goes to <strong>prof. Janez Mavri</strong> and <strong>Deni Bačić</strong>.</p>

<p>This is a free and easy to use web service for predicting endocrine disruption potential of molecules. This server performs docking to 18 integrated, thoroughly validated crystal structures of <a href="/receptors"><strong>14 different nuclear receptors</strong></a>.</p>
</div>
{% endblock %}
