{% extends "base.html" %}
{% block content %}

<div class="text-center">
<h1 class="page-header welcome-header">Welcome to <a href="/prediction.html">ENDOCRINE DISRUPTOME</a></h1>
<h2 class="page-header">Here you can predict endocrine action of your molecules against 18 structures, belonging to 14 nuclear receptors.</h2>
<p>
  <a class="btn btn-lg btn-primary" type="button" href="/prediction.html">Go to prediction page</a>
</p>
</div>

<div>
<h3>News and updates</h3>
<hr>
</div>

{% for item in allnews %}
<div>
<h4>{{item.title}}</h4>
{{item.body|safe}}
<p><strong>{{item.author}}
{{item.additiondate}}
</strong></p>
<hr>
</div>
{% endfor%}
{% endblock %}
