{% extends "base.html" %}
{% block content %}

{% if error %}
{% for er in error %}
<div class="alert">
<button type="button" class="close" data-dismiss="alert">&times;</button>
<strong>{{er}}</strong>
</div>
{% endfor %}
{% endif %}

<link rel="stylesheet" type="text/css" href="/static/js/ChemDoodleWeb.css" />
<link rel="stylesheet" href="/static/js/jquery-ui-1.9.2.custom.css" type="text/css">

<script type="text/javascript" src="/static/js/ChemDoodleWeb-libs.js"></script>
<script type="text/javascript" src="/static/js/ChemDoodleWeb.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui-1.9.2.custom.min.js"></script>
<script type="text/javascript" src="/static/js/ChemDoodleWeb-sketcher.js"></script>


    <h2>Submit molecule</h2>
    
<div id="launch_cketcher">
    <fieldset>
    <label>Draw molecule:</label>
    <a href="#myModal" role="button" class="btn" data-toggle="modal">Launch sketcher</a>
    
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">ChemDoodle sketcher</h3>
    </div>
    <div class="modal-body">
    <div name="sketcher">
    <div>
    <script type="text/javascript" style="text-align:left;margin:auto;" charset="utf-8">
    ChemDoodle.ELEMENT['H'].jmolColor = 'black';
    ChemDoodle.ELEMENT['S'].jmolColor = '#B9A130';
    var sketcher = new ChemDoodle.SketcherCanvas('sketcher', 500, 270, {useServices:false, oneMolecule:true}, ChemDoodle.featureDetection.supports_touch(), true);
    sketcher.specs.atoms_displayTerminalCarbonLabels_2D = true;
    sketcher.specs.atoms_useJMOLColors = true;
    sketcher.specs.bonds_clearOverlaps_2D = true;
    sketcher.specs.bonds_overlapClearWidth_2D = 2;
    sketcher.repaint();
    function getmol()
    {
    var mol = sketcher.getMolecule();
    var mol2 = ChemDoodle.writeMOL(mol);
    document.getElementById('id_moltext').value = mol2;
    $.get('converter.html', {name: mol2}, function(data){
        $.getJSON("converter.html", function (data) {
                $("input[name=smiles]").val(data["size"]);
        });
    }
    </script>
    </div>
    <div style= 'display:none' id="txt_name">
    {{form.moltext}}
    </div>
    <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" onclick="javascript:getmol()" id="katra" data-dismiss="modal" aria-hidden="true">Save changes</button>
</div>
</div>
</div>
</div>
</fieldset>
</div>

<div class="form">
<form id='neki' action="" method="post">
{% csrf_token %}
    <fieldset>
    <label>Or input SMILES:</label>
    {{form.smiles}}
    {{form.name}}
    <span class="help-block">Please input valid SMILES of your molecule, name is optional.</span>
    <button type="submit" class="btn btn-primary btn-large" id='selected-button' name="submitdocking">Submit</button>
  </fieldset>
</form>

</div>


{% endblock %}