{% extends "base.html" %}
{% block content %}

<div>
<h2>{{receptor.name}}</h2>
<h5>Abbreviation: {{receptor.abbreviation}}</h5>
</div>

<div class="description">
<p>{{receptor.description}}</p>
</div>

<div class="performance">
<h3>Performance</h3>
<p>This is an overview of the performance of our protocols on different forms of {{receptor.name|lower}}</p>
{% if rocdata_an != None or receptor.abbreviation == "PR"%}
<h3>Agonist</h3>
{% endif %}
{% if rocdata_an == None and receptor.abbreviation != "PR" %}
<h3>Active</h3>
{% endif %}

<div id="agonist" style="width:350px;height:350px"></div>
<script type="text/javascript">
$(function () {
    var d1 = {{rocdata}};
    var d3 = [[0,0],[1,1]];
    $.plot($("#agonist"), [
        {
        data:d3,
        lines: { show: true},
        color: "#7f8c8d",
        },
        {
        data: d1,
        label: "AUC = {{auc}} EF1% = {{enric}}",
        lines: { show: true, fill: true },
        color: "#7f8c8d",
        shadowSize: 10,
       }],
       {yaxis: {ticks: 5, min: 0, max: 1, axisLabel: 'Selectivity',  axisLabelUseCanvas: true,
            axisLabelFontSizePixels: 14, axisLabelFontFamily: 'Verdana, Arial, Helvetica, Tahoma, sans-serif',
            axisLabelPadding: 5},
        xaxis: {ticks: 5, min: 0, max: 1, axisLabel: '1-Specificity',  axisLabelUseCanvas: true,
            axisLabelFontSizePixels: 14, axisLabelFontFamily: 'Verdana, Arial, Helvetica, Tahoma, sans-serif',
            axisLabelPadding: 5},
        legend: {show: true, position: "se"}
       });
});
</script>
<h5>Tresholds</h5>
<div class="row">
<div class="span8">
{{tresholds|safe}}
<blockquote>
<p><small>More negative score means greater possibility for binding.</small></p>
<p><small>Selectivity represents fraction of true positives identified above certain score.</small></p>
<p><small>Specificity represents fraction of true negatives eliminated above certain score.</small></p>
</blockquote>
</div>
</div>

{% ifnotequal rocdata_an None %}
<h3>Antagonist</h3>
<div id="antagonist" style="width:350px;height:350px"></div>
<script type="text/javascript">
$(function () {
    var d2 = {{rocdata_an}};
    var d4 = [[0,0],[1,1]];
    $.plot($("#antagonist"), [
        {
        data:d4,
        lines: { show: true},
        color: "#556B2F",
        },
        {
        data: d2,
        label: "AUC = {{auc_an}} EF1% = {{enric_an}}",
        lines: { show: true, fill: true },
        color: "#556B2F",
        shadowSize: 10,
       }],
       {yaxis: {ticks: 5, min: 0, max: 1, axisLabel: 'Selectivity',  axisLabelUseCanvas: true,
            axisLabelFontSizePixels: 14, axisLabelFontFamily: 'Verdana, Arial, Helvetica, Tahoma, sans-serif',
            axisLabelPadding: 5},
        xaxis: {ticks: 5, min: 0, max: 1, axisLabel: '1-Specificity',  axisLabelUseCanvas: true,
            axisLabelFontSizePixels: 14, axisLabelFontFamily: 'Verdana, Arial, Helvetica, Tahoma, sans-serif',
            axisLabelPadding: 5},
        legend: {show: true, position: "se"}
       });
});

</script>
<h5>Tresholds</h5>
<p>More negative score means greater possibility for binding.</p>
<div class="row">
<div class="span8">
{{tresholds_an|safe}}
<blockquote>
<p><small>More negative score means greater possibility for binding.</small></p>
<p><small>Selectivity represents fraction of true positives identified above certain score.</small></p>
<p><small>Specificity represents fraction of true negatives eliminated above certain score.</small></p>
</blockquote>
</div>
</div>
{% endifnotequal %}
</div>

<div class="files">
<p><em>Files: </em> <a href="/static/receptor/{{receptor.pdbqt}}.pdbqt">{{receptor.pdbqt}}</a>, <a href="/static/conf/{{receptor.conf}}.txt">{{receptor.conf}}</a>, <a href="/static/receptor/{{receptor.pdbqt_an}}.pdbqt">{{receptor.pdbqt_an}}</a>, <a href="/static/conf/{{receptor.conf_an}}.txt">{{receptor.conf_an}}</a></p>
<div>
{% endblock %}
